/* :root {
  --background-color: black;
}

@media (600px < width <= 900px) {
  :root {
    --background-color: pink;
  }
}

@media (width > 901px) {
  :root {
    --background-color: aliceblue;
  }
}

body {
  background-color: var(--background-color);
} */

.cards {
  container-name: cards;
  container-type: inline-size;
    display: grid; /* not flex */
  gap: 1.5rem;
}

.card {
  display: grid;
  gap: 16px;
}

@container cards (width > 700px) {
  .card {
    grid-template-columns: auto minmax(25ch, 2fr);
    background-color: aqua;
  }
}


@layer demo {
  * {
    box-sizing: border-box;
  }

  .cards {
    align-items: start;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
  }

  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 15px rgb(0 0 0 / 0.25);
    font-size: 1.2rem;
    line-height: 1.35;
    padding: 1.5rem;
    width: 100%;
  }

  .card img {
    max-width: 100%;
  }
}
