body {
  background-color: #e7f6f2;
}

/* NavBar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  padding: 0.7rem 4rem;
}

.navbar .logo {
  color: white;
  font-weight: bold;
}

.navbar svg {
  color: white;
}

.page-title {
  background-color: rebeccapurple;
  color: white;
  position: relative;
}

/* Main */
.article-container {
  border: 3px solid red;
  padding: 2rem 4rem;
}

.article-content {
  border: 3px solid red;
  display: grid;
  grid-template-columns: 70% auto;
  position: relative;
  /* position: fixed; */
}

.article-content p {
  max-width: 115ch;
}

.article-title {
  background-color: orchid;
  /* position: absolute;
  width: 50%; */
}

.hero-section {
  height: 300px;
}

aside{
  position: sticky;
  top: 0;
  align-self: flex-start;
}